


@mixin app-theme($theme){

    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);

    .cl-app-root {

        .app-backdrop {
            background-color: mat-color($primary, 500);
        }

        .app-title {
            text-decoration: none;
            flex: 1 1 auto;
            color: mat-color($primary, '500-contrast');
        }

        .app-content {
        }



    }


}