<div class="app-backdrop" [@routeAnimations]="prepareRoute(outlet)">

    <mat-toolbar color="primary" class="app-toolbar">

        <button type="button" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>

        <a class="app-title" [routerLink]="['/']">Todos</a>

        <div class="toolbar-user" *ngIf="user$ | async as user">

            <a [routerLink]="['/login']" class="user-avatar">
                <img [src]="user.photoURL" alt="">
            </a>

        </div>

    </mat-toolbar>

    <div class="app-content">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>


</div>
